<div class="bar bar-header dy-word-common-top">
	<span class="s1">单词详解</span>
	<span class="s2" ng-show="index!=-1"> {{index+1}}/{{words.length}} </span>
	<img class="s3" src="img/arrow_right.png" ng-click="goBack()">
	<span class="s4" ng-show="index!=-1" ng-click="goWordList()">单词列表</span>
</div>


<ion-content class="has-header backgroud-light">
	<div style="margin-bottom: 50px;margin-top: 10px;">
		<div style="background: white;padding: 10px;">
			<div class="dy-word-test-explain" style="margin-top:0px;height: 21px; text-align: right;">
				<img class="star_img" src="img/star_1.png" ng-if="scoreobj.ifget" ng-repeat="scoreobj in scoreObjArr">
				<img class="star_img" src="img/star_2.png" ng-if="!scoreobj.ifget" ng-repeat="scoreobj in scoreObjArr">
			</div>
			<div class="dy-word-test-explain" style="margin-top:0px;text-align: left;">
				<span ng-class="{'s1':word.en.length<14,'smaller-font':word.en.length>=14}">{{word.en}}</span><br>
			</div>
			<div style="font-size: 20px;margin-top: 5px;">{{word.phonetic}}</div>
		</div>
		<div style="height: 8px;"></div>

		<div style="background: white;padding: 10px;">
			
			<div class="dy-word-test-explain" style="margin-top:0px;text-align: left;">
				<span class="s2" style="padding: 0px;" id="explain_word">{{word.zh}}</span>
			</div>

			<div ng-show="index!=-1" class="dy-word-test-audio" style="text-align: left;color: darkgray;">
				<span>男声&nbsp;&nbsp;</span><img src="img/xiaoxue_cut_07.png" id="detail_paly_1" ng-click="playDetailWord1(word.audio_1)" />&nbsp;&nbsp;
				<span>女声&nbsp;&nbsp;</span><img src="img/xiaoxue_cut_07.png" id="detail_paly_0" ng-click="playDetailWord0(word.audio_0)" />
				<audio id="myaudio"></audio>
			</div>

			<div ng-show="index==-1" class="dy-word-test-audio" style="text-align: left;color: darkgray;">
				<span>男声&nbsp;&nbsp;</span><img src="img/xiaoxue_cut_07.png" id="detail_paly_1" ng-click="playWebWord(word.audio_1)" />&nbsp;&nbsp;
				<span>女声&nbsp;&nbsp;</span><img src="img/xiaoxue_cut_07.png" id="detail_paly_0" ng-click="playWebWord(word.audio_0)" />
				<audio id="myaudio"></audio>
			</div>

			<div style="text-align: left;" ng-show="word.video!=''">
				<div style="margin-top: 5px;margin-bottom: 5px;">手势语学习</div>
				<div class="video-box" style="padding: 5px;">
					<video type="video/mp4" poster="" webkit-playsinline playsinline style="width: 100%; height: 100%;  background-image:url({{$root.siteUrl}}/upload/word/img/{{word.photo}});"></video>
				</div>
			</div>

			<div style="text-align: center; margin-bottom: 100px;" ng-show="word.video==''">

				<img width="240" src="{{$root.siteUrl}}/upload/word/img/{{word.photo}}" />

			</div>

		</div>

	</div>
</ion-content>

<div class="dy-word-test-bottom" ng-click="nextTest()" ng-show="index!=-1">继续</div> 