<ion-content class="backgroud-light">
	
   <div class="book-select-top">
   	 <div class="d1">What grade are you in?</div>
   	 <div class="d2">你在几年级</span>
   </div>
   <div class="grade-list">
   	  <div class="g1"  ng-click="gradeSelect(1,'一年级')"> 一年级 </div> 
   	  
   	  <div ng-show="now_num==1"  class="bt_div" >
      	<button class="bt" ng-click="bookSelect(0)">&nbsp;&nbsp;&nbsp;&nbsp;上册 &nbsp;&nbsp;&nbsp;&nbsp;</button> 
      	<button class="bt" ng-click="bookSelect(1)">&nbsp;&nbsp;&nbsp;&nbsp;下册 &nbsp;&nbsp;&nbsp;&nbsp;</button>
      </div>
   	  
      <div class="g2"  ng-click="gradeSelect(2,'二年级')"> 二年级 </div> 
      <div ng-show="now_num==2"  class="bt_div" >
      	<button class="bt" ng-click="bookSelect(0)">&nbsp;&nbsp;&nbsp;&nbsp;上册 &nbsp;&nbsp;&nbsp;&nbsp;</button> 
      	<button class="bt" ng-click="bookSelect(1)">&nbsp;&nbsp;&nbsp;&nbsp;下册 &nbsp;&nbsp;&nbsp;&nbsp;</button>
      </div>
      <div class="g3"  ng-click="gradeSelect(3,'三年级')"> 三年级 </div> 
      <div ng-show="now_num==3"  class="bt_div" >
      	<button class="bt" ng-click="bookSelect(0)">&nbsp;&nbsp;&nbsp;&nbsp;上册 &nbsp;&nbsp;&nbsp;&nbsp;</button> 
      	<button class="bt" ng-click="bookSelect(1)">&nbsp;&nbsp;&nbsp;&nbsp;下册 &nbsp;&nbsp;&nbsp;&nbsp;</button>
      </div>
      <div class="g4"  ng-click="gradeSelect(4,'四年级')"> 四年级 </div> 
      <div ng-show="now_num==4"  class="bt_div" >
      	<button class="bt" ng-click="bookSelect(0)">&nbsp;&nbsp;&nbsp;&nbsp;上册 &nbsp;&nbsp;&nbsp;&nbsp;</button> 
      	<button class="bt" ng-click="bookSelect(1)">&nbsp;&nbsp;&nbsp;&nbsp;下册 &nbsp;&nbsp;&nbsp;&nbsp;</button>
      </div>
      
      <div class="g5"  ng-click="gradeSelect(5,'五年级')"> 五年级 </div> 
      <div ng-show="now_num==5"  class="bt_div" >
      	<button class="bt" ng-click="bookSelect(0)">&nbsp;&nbsp;&nbsp;&nbsp;上册 &nbsp;&nbsp;&nbsp;&nbsp;</button> 
      	<button class="bt" ng-click="bookSelect(1)">&nbsp;&nbsp;&nbsp;&nbsp;下册 &nbsp;&nbsp;&nbsp;&nbsp;</button>
      </div>
      <div class="g6"  ng-click="gradeSelect(6,'六年级')"> 六年级 </div> 
      <div ng-show="now_num==6"  class="bt_div" >
      	<button class="bt" ng-click="bookSelect(0)">&nbsp;&nbsp;&nbsp;&nbsp;上册 &nbsp;&nbsp;&nbsp;&nbsp;</button> 
      	<button class="bt" ng-click="bookSelect(1)">&nbsp;&nbsp;&nbsp;&nbsp;下册 &nbsp;&nbsp;&nbsp;&nbsp;</button>
      </div>

<!--       <a href="#/api" class="button button-calm">API</a> 
--></ion-content>