<ion-view class="background-common">
	<div class="dy-word-common-top">
		<span class="s1">APP激活</span><br>
		<img class="s3" src="img/arrow_right.png" ng-click="goBack()">
	</div>

	<div class="row row-center text-center" style="height: 40px;background: white;padding: 0px;">
		<div ng-class="{'col-50':true,'app_vcode_bar':true,'activd':showLeft}" ng-click="show1()">激活方式一</div>
		<div ng-class="{'col-50':true,'app_vcode_bar':true,'activd':showRight}" ng-click="show2()">激活方式二</div>
	</div>

	<ion-scroll style="width:100%;height:86%">
		<div ng-if="showLeft" style="text-align: center;">
			<div class="text-left padding">购买新课标小学英语同步单词规范释析{{mybook.grade}}{{mybook.semester}}{{mybook.publisher}}</div>
			<div class="text-center" style="padding: 5px;">
				<button class="app_vcode_button" ng-click="openTaobao(mybook.book_url)">
				购买图书
			    </button>
			</div>
			<!--<div style="text-align:left;font-size: 14px;background:darksalmon;margin-top:10px;margin:10px;padding: 5px;border-radius:5px;">已购买新课标小学英语同步单词规范释析{{mybook.publisher}}{{mybook.grade}}{{mybook.semester}}</div>
-->
			<div style="border-top:1px solid gainsboro;border-bottom:1px solid gainsboro;">
				<div class="padding" style="text-align: left;color: red;">注：已购买上述图书的请扫描图书最后一页的APP验证码即可激活</div>
				<div><img src="img/saomiao_03.png" width="80px;" style="margin-top:10px;" ng-click="vcode()" /></div>
				<!--<button class="button button-clear button-positive" ng-click="openTaobao()">购买单词手册</button><br>
-->
				<div><img src="img/book_vcode.png" width="80%" style="margin:8px;border-radius:10px;"></div>
				<!--<span style="margin: 1px;font-size: 16px;">{{mybook.grade}}英语 {{mybook.semester}}</span><br>
			<span style="margin: 1px;font-size: 16px;">{{mybook.publisher}}</span><br>
			<span style="margin: 1px;font-size: 16px;">同步背单词</span>-->
			</div>

			<div class="text-center" style="padding: 5px;">
				<button class="app_vcode_button" ng-click="show2()">
				 激活方式二
			    </button>
			</div>
		</div>

		<div ng-if="showRight">

			<div class="text-center" style="margin-top:10px;font-size:15px;background:white; padding:10px;border-top: 1px solid gainsboro;border-bottom: 1px solid gainsboro;" ng-click="hascode=!hascode">已有验证码</div>
			<div style="background: #ffffff;padding: 10px;border-bottom: 1px solid gainsboro;" ng-show="hascode">
				<div class="text-left padding">方式一：请扫描书册对应的APP验证码(二维码)</div>
				<div class="text-center"><img src="img/saomiao_03.png" width="80px;" style="margin-top:10px;" ng-click="vcode()" /></div>
				<div class="text-left padding">方式二：输入或粘贴书册对应的APP验证码(文本)</div>
				<label class="item item-input" style="margin-left: 30px;margin-right: 30px;">
    			<input type="text" id="vcode_text" placeholder="输入或粘贴书册对应的APP验证码 ">
  			    </label>
				<div class="text-center" style="padding: 5px;">
					<button class="app_vcode_button" ng-click="vcodeByText()">
				           提交验证码
			        </button>
				</div>
			</div>

			<div style="background: white;margin-top: 10px;padding: 10px;border-top: 1px solid gainsboro;border-bottom: 1px solid gainsboro">
				<div class="text-left padding">新课标小学英语同步单词{{mybook.grade}}{{mybook.semester}}{{mybook.publisher}}验证码</div>
				<div class="text-left padding" style="color:burlywood;">{{mybook.ad_info}}</div>
				<div class="row">
					<div class="col-20 col-center" style="color: gray;text-decoration:line-through;">原价：¥{{change_price}}</div>
					<div class="col-20 col-center text-center" style="color: red;font-size:20px ;">¥{{change_sale_price}}</div>
					<div class="col-60 text-center" class="text-center" style="padding: 5px;">
						<button ng-show="!userinfo.active" class="app_vcode_button" ng-click="unifiedorder(userinfo.id,mybook.id)">
				                             购买验证码
			            </button>
			            
			            <button ng-show="userinfo.active" class="app_vcode_button" style="background:gainsboro;"  ng-click="">
				                             您已激活                  
			            </button>
			            
					</div>
				</div>
				
				<div id="appvcode_detail" class="padding" style="border-top:1px solid gainsboro;">
				</div>
			</div>

		</div>
	</ion-scroll>
</ion-view>