<ion-view class="background-light">
	<div class="dy-word-common-top">
		<span class="s1">关于我们</span><br>
		<img class="s3" src="img/arrow_right.png" ng-click="goBack()">
	</div>

	<ion-scroll style="width:100%; height:100%">

		<div style="padding-bottom: 40px;">

			<div style="text-align: left;margin: 10px;font-size: 16px;line-height: 30px;">
				<!--&nbsp; &nbsp; &nbsp; &nbsp;烤鱿鱼是为英语学习提供智能支持的专业外语学习智能引擎，由北京优宇通教育科技有限公司倾注十年专注研发而成，拥有业界最前沿的智能化技术支持。烤鱿鱼从英语学习的听、说、读、写、译各个专项的诊断与学习出发，为您提供最专业的诊断报告、成绩分析和个性化资源推送，让您在移动互联时代拥有最优质的语音学习体验！-->
				<h4 style="text-align: center;">新课标小学英语同步背单词</h4>

				<strong>权威、高效、有趣</strong><br> • 配合新课标教材，同步提供权威的释义、例句和录音<br> • 基于国外主流的少儿英语学习理论<br> • 由经验丰富的重点小学英语老师设计<br> • 使用先进的语音识别和智能学习技术<br>

				<strong>特点</strong><br> • 同时使用图片、录音、语音识别、手势语帮助学习记忆<br> • 同时调动大脑、眼、口和手；<br> • 同时学习拼写、发音、语义和使用；<br> • 寓教于乐，高效，随时随地。<br>

			</div>

			<div style="text-align: center;margin-top: 30px;font-size: 16px;line-height: 35px;">
				copyright © 2015-{{year}}
			</div>
			<div style="text-align: center;margin: 5px;font-size: 18px;line-height: 35px;">
				北京优宇通教育科技有限公司
			</div>
			<div style="text-align: center;margin-bottom: 30px;margin: 5px;font-size: 18px;line-height: 35px;">
				版权所有
			</div>
		</div>

	</ion-scroll>

</ion-view>