<div class="bar bar-header dy-word-common-top">
	<span class="s1">我的订单</span><br>
	<img class="s3" src="img/arrow_right.png" ng-click="goBack()">
</div>

<ion-content class="has-header backgroud-light">
	<div class="list">
		<a class="item" ng-click="" ng-repeat="order in dataList">
			<h2>{{order.body}}</h2>
			<p>订单号：{{order.out_trade_no}}</p>
			<p>价格：¥{{order.price/100}}</p>
			<p>购买日期：{{order.create_time}}</p>
			<p>验证码：</p>
			<p>{{order.code}}</p>
			<p>微信支付交易单号：</p>
			<p>{{order.trans_id}}</p>
		</a>
	</div>
</ion-content>