<div class="bar bar-header dy-word-common-top">
	<span class="s1">我的验证码</span><br>
	<img class="s3" src="img/arrow_right.png" ng-click="goBack()">
</div>

<ion-content overflow-scroll="true" class="has-header backgroud-light">
	<div class="list">
		<a class="item"  ng-repeat="book in dataList">
			<h2 style="-webkit-user-select: auto;padding-top: 5px;padding-bottom: 5px;white-space:normal;font-size:14px;">{{book.code}}</h2>
			<p>{{book.name}}</p>
			<div ng-show="book.leftover>0" class="text-center"><button class=" button button-small  button-balanced" ng-click="wechatShareCode(book.code,book.name)">&#12288;分享给好友&#12288;</button>
            </div>
		</a>
	</div>
	
	<div class="text-left padding" style="color: red;" >注：长按验证码可复制，只用于同书册的APP，最多两人使用！</div>

</ion-content>