<ion-tabs class="tabs-positive tabs-icon-only">
    <ion-tab icon-off="dc-tab-dy" icon-on="dc-tab-dy-active" href="#/tab/dy_home">
        <ion-nav-view name="tab-dy"></ion-nav-view>
    </ion-tab>

   <ion-tab  icon="dc-tab-yx" icon-on="dc-tab-yx-active" href="#/tab/yx_home">
        <ion-nav-view name="tab-yx"></ion-nav-view>
    </ion-tab>

    <ion-tab  icon="dc-tab-me" icon-on="dc-tab-me-active" href="#/tab/me_home">
        <ion-nav-view name="tab-me"></ion-nav-view>
    </ion-tab>
</ion-tabs>